<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Conexão SENAI com senha-->
    <!--<add name="ColgateSkeltaEntities" connectionString="metadata=res://*/ColgateSkelta4.csdl|res://*/ColgateSkelta4.ssdl|res://*/ColgateSkelta4.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-UNQLIF4\SQLEXPRESS01;Initial Catalog=ColgateSkelta;Persist Security Info=True;User ID=bristle2;Password=sistemas01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexão SENAI sem senha-->
    <!--<add name="ColgateSkeltaEntities" connectionString="metadata=res://*/ColgateSkelta4.csdl|res://*/ColgateSkelta4.ssdl|res://*/ColgateSkelta4.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-UNQLIF4\SQLEXPRESS01; Integrated Security=True; Initial Catalog=ColgateSkelta; multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexão PC Colgate-->
    <!--<add name="ColgateSkeltaEntities" connectionString="metadata=res://*/ColgateSkelta4.csdl|res://*/ColgateSkelta4.ssdl|res://*/ColgateSkelta4.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BRVIPE06VZ51\SQLEXPRESS; Integrated Security=True; Initial Catalog=ColgateSkelta; multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexão PC Colgate com senha-->
    <!--<add name="ColgateSkeltaEntities" connectionString="metadata=res://*/ColgateSkelta4.csdl|res://*/ColgateSkelta4.ssdl|res://*/ColgateSkelta4.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BRVIPE06VZ51\SQLEXPRESS01;Initial Catalog=ColgateSkelta;Persist Security Info=True;User ID=bristleT;Password=Tnsd271083#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexão PC Colgate com senha Operação-->
    <add name="ColgateSkeltaEntities" connectionString=
         "metadata=res://*/ColgateSkelta4.csdl|res://*/ColgateSkelta4.ssdl|res://*/ColgateSkelta4.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=10.140.1.28;Initial Catalog=ColgateSkelta;Persist Security Info=True;User ID=sa;Password=C0lg@teBRAV;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>